// SCROLL TRIGGERED ANIMATIONS


// SECTION LINE ANIMATION

[data-scroll="scalex"].section-line {
    --line-scale-x: 0;
    --line-transform-origin: left;

    &:after {
        scale: var(--line-scale-x) 1;
        transform-origin: left;
        transition: scale 1s ease-in-out;
    }

    &[data-inview] {
        --line-scale-x: 1;
    }
}

// CASE STUDY TITLE ANIMATIONS

[data-scroll="slide-up"].casestudy-title {
    transition: 1s ease-in-out;
    transform: translateY(50px);
    opacity: 0;

    &[data-inview] {
        transform: translateY(0);
        opacity: 1;
    }
}

// LINE ART ANIMATIONS

// [data-scroll="push-forward"].casestudy-lineart {
//     transition: 8s forwards ease-in-out;
//     stroke-dasharray: 10000;
//     stroke-dashoffset: 10000;

//     &[data-inview] {
//         stroke-dashoffset: 0;
//     }
// }


.cls-1 {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: dash 8s forwards ease-in-out;
}

@keyframes dash {
    from {
        stroke-dashoffset: 10000;
    }

    to {
        stroke-dashoffset: 0;
    }
}