.casestudy-main {

    width: 100%;

    img,
    video {
        // border: .25px solid rgba(88, 88, 88, 0.7);
        box-shadow: 5px 5px 5px rgba(88, 88, 88, 0.7);
    }

    .casestudy-project-overview {

        margin-bottom: 1em;

        .casestudy-lineart {
            max-width: 200px;
            margin: 10em auto 3em auto;

            img {
                box-shadow: none;
            }

            .cls-1 {
                fill: none;
                stroke: $coffee;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 1.92px;
            }
        }

        .casestudy-hero {
            display: flex;
            justify-content: center;
            // max-width: 1000px;
            margin: 0 auto;

            .casestudy-title {
                display: flex;
                flex-direction: column;
                align-items: left;
                max-width: 500px;

                h1 {
                    font-family: $title;
                    color: $coffee;
                    margin: .5em auto;
                    padding-right: .5em;
                    font-size: clamp(3em, 6vw, 6em);
                    text-align: center;
                    text-transform: none;
                }
            }

            .casestudy-section-header {
                font-family: $title;
                color: $coffee;
                text-transform: none;
                font-size: clamp(1.25em, 1.5vw, 1.5em);
                margin-top: 1em;

            }

            .intro-paragraph {
                p {
                    margin: .5em auto;
                }

                hr {
                    margin-bottom: .9em;
                }

            }

            .casestudy-hero-image-absolute {
                position: absolute;
                top: 0;
                left: 10%;
                z-index: -1;

                img {
                    height: 400px;
                    width: 100%;
                    box-shadow: none;
                    // filter: grayscale(100%);
                    opacity: .5;
                }
            }

            .casestudy-hero-image,
            .casestudy-hero-video {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 5em;

                img,
                video {
                    height: 700px;
                }
            }

            .casestudy-hero-embed {
                margin-bottom: 5em;
            }

            .casestudy-overview {
                display: flex;
                flex: wrap;
                justify-content: center;

                p {
                    font-family: $body;
                    line-height: 1.5;
                }
            }

            .casestudy-details {
                display: flex;
                flex-direction: column;
                margin-top: 1em;

                h3 {
                    font-family: $title;
                    font-size: clamp(1.25em, 1.5vw, 1.5em);
                    text-transform: none;
                }

                span {
                    font-family: $body;
                    line-height: 1.5;
                }
            }
        }
    }

    .casestudy-project-process {
        overflow: hidden;

        .casestudy-process {
            display: flex;
            margin-top: 3em;

            .design {
                display: flex;
                flex-direction: column;
                align-items: center;

                .button {
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: $body;
                    font-size: .8em;
                    line-height: 1.25em;
                    padding: 1em;
                    margin: .8em;
                    background-color: $coffee;
                    color: $light-pink;
                    transition: all .3s ease-out;
                    width: 200px;
                    border-radius: 10px;

                    .small-text-link {
                        font-size: .75em;
                    }

                    &:hover {
                        background-color: $light-pink;
                        color: $coffee;
                    }
                }
            }
        }

        .casestudy-process-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            img {
                margin: 1em;
            }

            .img-no-margin {
                margin: 0;
            }

            .image-collection {
                display: flex;
                justify-content: center;
            }
        }

        .casestudy-process-videos {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .smaller {
            height: 250px;
            margin: 0;
        }

        img {
            max-height: 750px;
            max-width: 100%;
        }

        .caption {
            display: flex;
            align-items: start;

            .image-caption {
                font-family: $title;
                text-transform: capitalize;
                font-size: clamp(2em, 5vw, 5em);
                margin: .5em 0;
            }

            .section-line {
                position: relative;
                display: flex;
                align-items: center;
                gap: .5em;

                &:after {
                    content: '';
                    width: 100%;
                    height: $border-width;
                    border-bottom: $border-width solid $coffee;
                    z-index: -1;
                }

            }

            .section-line.swapped {
                flex-direction: row-reverse;
            }
        }

        .image-no-dropshadow {
            img {
                box-shadow: none;
            }
        }
    }

    .casestudy-more-projects {
        display: flex;
        margin: 3em auto;

        .container {
            width: 800px;

            .more-projects {
                display: flex;
                justify-content: space-between;

                .previous-project,
                .next-project {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: $coral;
                    font-family: $title;
                    font-size: 2em;
                    font-weight: 700;
                    line-height: 3;
                    transition: all .3s ease-out;

                    &:hover {
                        color: $coffee;
                    }
                }
            }
        }

        margin-bottom: 10em;
    }
}

// BOOK TRILOGY

.bt-images {
    height: 500px;
    max-width: 100%;
}

// FITTREE MOBILE APP

.fittree-squares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: $body;

    :nth-child(1) {
        background-color: #1A2207;
    }

    :nth-child(2) {
        background-color: #1E3F00;
    }

    :nth-child(3) {
        background-color: #465705;
    }

    :nth-child(4) {
        background-color: #75982C;
    }

    :nth-child(5) {
        background-color: #D1EAA0;
    }

    :nth-child(6) {
        background-color: #E8D3BC;
    }

    .square {
        width: 100px;
        height: 100px;
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            background-color: transparent;
            color: white;
        }
    }
}

.fittree-type {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 50px;
        border: none;
        box-shadow: none;
    }
}

.fittree-images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    img {
        border: none;
        box-shadow: none;
        padding: 2em;
    }
}

// MENU ICON

.menu-icon-img {
    max-height: 300px;
    object-fit: cover;
    width: auto;
    // border: 3px solid red;
}

.menu-icon-codepen {

    .one-whole {
        display: block;

        .codepen {
            height: 300px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            margin: 1em 0;
            padding: 1em;
        }
    }
}

// THE MOON

.themoon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .circle {
        background-color: $coffee;
        border: 1px solid $coffee;
        margin: 1em;
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }

    // :nth-child(1) {
    //     border: 1px solid red;
    // }

    :nth-child(2) {
        box-shadow: inset -20px 0 0 0 #fff;
    }

    :nth-child(3) {
        position: relative;
        overflow: hidden;

        &:after {
            content: "";
            height: 100%;
            width: 50%;
            position: absolute;
            top: 0;
            right: 0;
            background: white;
            border-radius: 0 100% 100% 0;
        }
    }

    :nth-child(4) {
        background: white;
        box-shadow: inset 20px 0 0 0 $coffee;
    }

    :nth-child(5) {
        background: white;
    }

    :nth-child(6) {
        transform: rotate(180deg);
        background: white;
        box-shadow: inset 20px 0 0 0 $coffee;
    }

    :nth-child(7) {
        transform: rotate(180deg);
        position: relative;
        overflow: hidden;

        &:after {
            content: "";
            height: 100%;
            width: 50%;
            position: absolute;
            top: 0;
            right: 0;
            background: white;
            border-radius: 0 100% 100% 0;
        }
    }

    :nth-child(8) {
        transform: rotate(180deg);
        box-shadow: inset -20px 0 0 0 #fff;
    }
}

.code-block {
    display: flex;
    align-items: center;
    border: .5px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.code-block .moon-wrapper {
    width: 100px;
    height: 100px;
    margin: 50px 150px 50px 50px;
    position: relative;
    /*   overflow: hidden; */
}

.code-block .moon {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid black;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

.code-block .mask {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px dashed red;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.code-block .waxing-crescent .mask {
    translate: 100% 0;
    border-color: red;
    animation-name: waxing-crescent;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes waxing-crescent {
    0% {
        translate: 100% 0;
        border-color: red;
    }

    30% {
        translate: 25% 0;
        border-color: white;
    }

    60% {
        translate: 25% 0;
        border-color: white;
    }

    90% {
        translate: 100% 0;
        border-color: red;
    }
}

.code-block .first-quarter .mask {
    border-radius: 0;
    translate: 100% 0;
    border-color: black;
    animation-name: first-quarter;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes first-quarter {
    0% {
        translate: 100% 0;
        border-color: black;
    }

    30% {
        translate: 50% 0;
        border-color: white;
    }

    60% {
        translate: 50% 0;
        border-color: white;
    }

    90% {
        translate: 100% 0;
        border-color: black;
    }
}

// QUEST 

.quest-squares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: $body;

    :nth-child(1) {
        background-color: #000000;
        color: white;
    }

    :nth-child(2) {
        background-color: #00AD95;
    }

    :nth-child(3) {
        background-color: #FAAC72;
    }

    :nth-child(4) {
        background-color: #E6E6E6;
    }

    :nth-child(5) {
        background-color: #81298E;
    }

    :nth-child(6) {
        background-color: #ACD037;
    }

    :nth-child(7) {
        background-color: #F1607D;
    }

    :nth-child(8) {
        background-color: #EFE128;
    }

    .square {
        width: 100px;
        height: 100px;
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            background-color: transparent;
            color: white;
        }
    }
}

.quest-logo {
    max-height: 300px;
}

.quest {

    img {
        box-shadow: none;
    }
}

// ILLUSTRATIONS

.illustrations {

    h1 {
        font-family: $title;
        text-transform: lowercase;
        color: $coffee;
        text-align: center;
        margin: 1em auto;
    }

    .illustrations-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;


        img {
            max-height: 700px;
            margin: .5em;
            box-shadow: none;
            border: .5px solid #ccc;
            padding: 1em;
        }
    }
}

// PELE AWARDS

.pele-award {
    display: flex;
    flex-direction: column;

    .pele-title {
        display: flex;
        align-items: end;

        .pele-triangle {
            background-color: rgb(245, 201, 25);
            clip-path: polygon(50% 0, 100% 100%, 0 100%);
            width: 1.25em;
            height: 1.25em;
        }

        span {
            font-family: $body;
            text-transform: uppercase;
            color: #333;
            font-size: 1em;
            line-height: 1 !important;
        }
    }

    .award-info {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        font-size: .7em;
    }
}