img {
    object-fit: cover;
}

// MEDIA QUERIES

@media (max-width: 767px) {

    // GIST SCRIPT
    .gist {
        .gist-file {
            max-width: 300px;
            // border: 3px solid red !important;

        }
    }

    .swiper {
        max-width: 300px;
        max-height: 500px;

        img {
            height: 300px;
        }
    }

    .card {
        .poster {
            img {
                max-height: none;
            }
        }
    }

    // IMAGES

    img,
    video {
        max-height: 300px;
        max-width: 100%;
        object-fit: cover;
    }

    .casestudy-process-images {

        img {
            // border: 1px solid red;
            margin: 1em 0 !important;
        }
    }

    .casestudy-main {
        video {
            box-shadow: none;
        }
    }

    // HEADER AND FOOTER NAV

    .header-nav,
    .footer-nav,
    .footer-tagline,
    .arrow-left,
    .arrow-right {
        position: absolute;
        left: -99999px;
        top: -99999px;
    }

    .mobile-nav {
        position: fixed;
        bottom: 0;
        height: 75px;
        // overflow: hidden;
        width: 100%;
        background: $sand;
        z-index: 10;

        ul {
            display: flex;
            justify-content: space-around;
        }

        li {
            list-style: none;
            display: block;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $coffee;
                font-size: 1rem;
                padding: 10px 50px;

                .nav-icon {
                    height: 50px;

                    img {
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .caption {
        align-items: center;
        justify-content: center;

        .section-line {
            justify-content: center;
        }
    }

    .code-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: none;
    }

    // CONTAINER

    .container {
        // max-width: 600px;
        padding: 0 2em;
        // margin: 0;
    }

    // ABOUT PAGE

    .about {

        .about-me,
        .contact-info {
            display: flex;
            flex-direction: column;
            margin: 0;
        }

        .contact-info {
            display: flex;
            gap: 0 !important;
            margin: 0;

            .social-media {
                li {
                    margin-top: 1em;
                }
            }
        }
    }

    // MAIN

    .casestudy-main {

        p {
            font-size: 85%;
            text-align: left;
        }

        img {
            // max-height: 200px;
            width: auto;
            box-shadow: none;
        }

        .casestudy-project-overview {

            .casestudy-lineart {
                // max-width: fit-content;

                img {
                    object-fit: cover;
                }
            }

            .row-mobile {
                display: flex;
                flex-direction: row;
            }

            .casestudy-hero {
                flex-direction: column;
                justify-content: center;

                .casestudy-overview {
                    width: 100%;
                    margin: 2em 0;

                    .casestudy-software,
                    .casestudy-year {
                        justify-content: center;
                        text-align: left;

                        h3 {
                            text-transform: uppercase;
                        }

                        span {
                            font-size: 80%;
                        }
                    }
                }
            }
        }

        .casestudy-project-process {
            margin: 0;

            .caption {
                align-items: center;

                .image-caption {
                    margin: 0;
                }
            }

            .casestudy-process {

                .section-line {
                    gap: 0;

                    &:after {
                        width: 0;
                    }
                }

                .body-copy {
                    min-width: 350px;
                }

                .casestudy-process-images,
                .casestudy-process-videos {
                    width: auto;
                }
            }
        }

        .casestudy-more-projects {
            // max-width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;

            .more-projects {

                .previous-project,
                .next-project {
                    padding: .5em;
                    justify-content: space-between;
                }

                // a {
                //     border: 1px solid $coffee;
                //     padding: .5em;
                // }

                span {
                    font-family: $body;
                    text-transform: uppercase;
                    font-size: 50%;
                }
            }

        }

    }

    .row {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 0;
        flex-direction: column;

        .one-half {
            width: 100%;
        }

    }

    .fittree-type,
    .fittree-images {
        display: flex;
        justify-content: center;

        img {
            max-height: 50px;
            padding: 0;
        }
    }

    .swiper.fittree-images {
        img {
            max-height: 200px;
            object-fit: cover;
        }
    }

    .illustrations-images {
        flex-direction: column;
    }
}

// PELE AWARDS

.pele-award {
    display: flex;

    .pele-triangle {
        background-color: rgb(245, 201, 25);
        clip-path: polygon(50% 0, 100% 100%, 0 100%);
        width: 1em;
        height: 1em;
    }

    span {
        font-family: $body;
        text-transform: uppercase;
        color: #333;
        font-size: 1em;
        padding-left: .5em;
    }
}



@media (min-width: 767px) {
    .mobile-nav {
        position: absolute;
        left: -99999px;
        top: -99999px;
    }
}