.section-title {
    display: flex;
    justify-content: center;
}

.work {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 25px;
}

.card {
    position: relative;
    width: 350px;
    height: 350px;
    background: #ccc;
    border-radius: 10px;
    overflow: hidden;
    filter: grayscale(1);
    transition: .5s;

    &:hover {
        filter: grayscale(0);
    }

    .poster {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    .details {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 25%;
        background: rgba(255, 255, 255, 0.925);
        transition: .3s;
        z-index: 2;

        &.pele {
            h1 {
                padding-top: .5em;
            }
        }

        .pele-award {
            display: flex;
            align-items: end;
            padding: 1em 0 0 1.5em;

            .pele-triangle {
                background-color: rgb(245, 201, 25);
                clip-path: polygon(50% 0, 100% 100%, 0 100%);
                width: 1.25em;
                height: 1.25em;
            }

            h2 {
                color: #333;
                font-size: .8em;
                padding-left: .5em;
            }
        }

        h1 {
            letter-spacing: 1px;
            color: #333;
            font-size: 1.5em;
            padding: 1em;
        }
    }
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .details {
    bottom: 0;
}

.card2:hover .details {
    bottom: 0;
}